# PyCity Schools Analysis
- As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending 645-675 per student actually underperformed compared to schools with smaller budgets (585 per student).

- As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

- As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school

In [5]:
# Setting up 
import pandas as pd

# Loading resource files
school_data_file = "../Resources/schools_complete.csv"
student_data_file = "../Resources/students_complete.csv"

# Reading both the data files and storing them in pandas dataframe
school_data = pd.read_csv(school_data_file)
student_data = pd.read_csv(student_data_file)

# Checking that Pandas can read the files
school_data
student_data

# Combining the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

# District Summary

In [23]:
# Calculating the total number of different schools
school_count = len(school_data_complete["school_name"].unique())
school_count

15

In [11]:
# Finding the total number of students
student_count = len(school_data_complete["Student ID"])
student_count

39170

In [13]:
# Calculating the total budget 
total_budget = sum(school_data_complete["budget"].unique())
total_budget

24649428

In [14]:
# Calculating the average math score
average_math_score = school_data_complete["math_score"].mean()
average_math_score

78.98537145774827

In [16]:
# Calculating the average reading score
average_reading_score = school_data_complete["reading_score"].mean()
average_reading_score

81.87784018381414

In [17]:
# Calculating the percentage of students who passed math (math scores greater than or equal to 70)
pass_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
pass_math_percent = pass_math_count / float(student_count) * 100
pass_math_percent

74.9808526933878

In [18]:
# Calculating the percentage of students who passed reading (with scores greater than or equal to 70)
pass_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
pass_reading_percent = pass_reading_count / float(student_count) * 100
pass_reading_percent

85.80546336482001

In [19]:
# Calculating the percentage of students that passed both math and reading
pass_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)].count()["student_name"]
overall_pass_rate = pass_math_reading_count / float(student_count) * 100
overall_pass_rate

65.17232575950983

In [24]:
# Create a high-level snapshot of district's key metrics in a DataFrame
district_summary = 
district_summary

ValueError: DataFrame constructor not properly called!