# PyCity Schools Analysis
- As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending 645-675 per student actually underperformed compared to schools with smaller budgets (585 per student).

- As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

- As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school

In [2]:
# Setting up 
import pandas as pd

# Loading resource files
school_data_file = "../Resources/schools_complete.csv"
student_data_file = "../Resources/students_complete.csv"

# Reading both the data files and storing them in pandas dataframe
school_data = pd.read_csv(school_data_file)
student_data = pd.read_csv(student_data_file)

# Checking that Pandas can read the files
school_data
student_data

# Combining the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

# District Summary

In [3]:
# Calculating the total number of different schools
school_count = len(school_data_complete["school_name"].unique())

In [4]:
# Finding the total number of students
student_count = len(school_data_complete["Student ID"])

In [5]:
# Calculating the total budget 
total_budget = sum(school_data_complete["budget"].unique())

In [6]:
# Calculating the average math score
average_math_score = school_data_complete["math_score"].mean()

In [7]:
# Calculating the average reading score
average_reading_score = school_data_complete["reading_score"].mean()

In [8]:
# Calculating the percentage of students who passed math (math scores greater than or equal to 70)
pass_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
pass_math_percent = pass_math_count / float(student_count) * 100

In [9]:
# Calculating the percentage of students who passed reading (with scores greater than or equal to 70)
pass_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
pass_reading_percent = pass_reading_count / float(student_count) * 100

In [10]:
# Calculating the percentage of students that passed both math and reading
pass_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)].count()["student_name"]
overall_pass_rate = pass_math_reading_count / float(student_count) * 100

In [11]:
# Create a high-level snapshot of district's key metrics in a DataFrame
district_summary = pd.DataFrame({"Total Schools" : [school_count],
                                "Total Students" : [student_count],
                                "Total Budget" : [total_budget],
                                "Average Math Score" : [average_math_score],
                                "Average Reading Score" : [average_reading_score],
                                "% Passing Math" : [pass_math_percent],
                                "% Passing Reading" : [pass_reading_percent],
                                "% Overall Passing" : [overall_pass_rate]})
# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Displaying the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

# School Summary

In [12]:
# Finding the school types
school_types = school_data.set_index(["school_name"])["type"]

In [13]:
# Calculating the total student count per school 
per_school_count = school_data_complete.groupby(["school_name"]).count()["student_name"]

In [14]:
# Calculating the total school budget and per capita spending
per_school_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]
per_school_capita = per_school_budget / per_school_count

C:\Users\annie\AppData\Local\Temp\ipykernel_8404\1800616486.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  per_school_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]

In [16]:
# Calculate the average test scores
per_school_math = school_data_complete.groupby(["school_name"]).mean()["math_score"]

per_school_reading = school_data_complete.groupby(["school_name"]).mean()["reading_score"]

C:\Users\annie\AppData\Local\Temp\ipykernel_8404\3369968219.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  per_school_math = school_data_complete.groupby(["school_name"]).mean()["math_score"]
C:\Users\annie\AppData\Local\Temp\ipykernel_8404\3369968219.py:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  per_school_reading = school_data_complete.groupby(["school_name"]).mean()["reading_score"]

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [17]:
# Calculate the number of schools with math scores of 70 or higher
school_pass_math = school_data_complete[(school_data_complete["math_score"] >=70 )]


# Calculating the schools' math passing rates
per_school_pass_math = school_pass_math.groupby(["school_name"]).count()["student_name"] / per_school_count * 100

In [18]:
# Calculate the number is schools with reading scores of 70 or higher
school_pass_reading = school_data_complete[(school_data_complete["reading_score"] >= 70 )]

# Calculating the schools' reading passing rates
per_school_pass_reading = school_pass_reading.groupby(["school_name"]).count()["student_name"] / per_school_count * 100

In [19]:
# Calculate the schools that pass both math and reading with scores of 70 or higher
pass_math_reading = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)]

# Calculating the schools' math and reading passing rates
overall_pass_rate = pass_math_reading.groupby(["school_name"]).count()["student_name"] / per_school_count * 100

In [21]:
# Creating a DataFrame to showcase all the metrics
per_school_summary = pd.DataFrame({"School Type" : school_types,
                                  "Total Students" : per_school_count,
                                  "Total School Budget" : per_school_budget,
                                  "Per Student Budget" : per_school_capita,
                                   "Average Math Score" : per_school_math,
                                   "Average Reading Score" : per_school_reading,
                                   "% Passing Math" : per_school_pass_math,
                                    "% Passing Reading" : per_school_pass_reading,
                                    "% Overall Passing" : overall_pass_rate
                                  })
per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,248087.0,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,1049400.0,583.0,83.682222,83.955000,93.333333,96.611111,90.333333